<%= form_with(model: @table, method: :get) do  %>
  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search here" %>
  <button type='submit'>Search</button>
<% end %>
